@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/**
This file contains the general and shared style of your application.


 */

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: url('../src/graphics/poker_redfire.jpg') ;
  background-size: cover;
}

input,
textarea,
select,
button {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  outline: none;
 }

*:focus {
  outline: none;
}


.modal {
  font-size: 15px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
